.Battle {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../images/maps/test\ battle.png');
    background-size: cover;
    image-rendering: pixelated;
}

.Battle_player, .Battle_enemy {
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url('../images/characters/shadow.png') no-repeat no-repeat;
}

.Battle_player img, .Battle_enemy img {
    pointer-events: none;
}

.Battle_player {
    bottom: 32px;
    left: 64px;
}

.Battle_player img {
    transform: translateY(-64px); /* nudge player sprite to face up */
}

.Battle_enemy {
    top: 32px;
    right: 64px;
}

/* Animations */
@keyframes trust-up {
 0% { background: rgba(62, 117, 81, 0); }
 50% { background: rgba(62, 117, 81, 100); }
 100% { background: rgba(62, 117, 81, 0); }
}

.battle-trust-up {
    animation: trust-up 0.5s ease-in-out
}

@keyframes trust-down {
 0% { background: rgba(194, 45, 16, 0); }
 50% { background: rgba(194, 45, 16, 100); }
 100% { background: rgba(194, 45, 16, 0); }
}

.battle-trust-down {
    animation: trust-down 0.5s ease-in-out
}