.Combatant {
    width: 67px;
    height: 14px;
    position: absolute;   
}

.Combatant[data-team="player"] {
    bottom: 64px;
    left: 64px;
}

.Combatant[data-team="enemy"] {
    top: 32px;
    right: 64px;
}
