:root {
    --border-color: white;
    --dialog-background: #31473e;

    --menu-background: #31473e;
    --menu-border-color: #222e2e;
    --menu-font-color: white;
    --menu-selected-background: #526e5d;

}


* {
    box-sizing: border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container{
    position: relative;
    width: 352px;
    height: 198px; /** change these dimensions if you want to change the window dimensions too*/
    margin: 0 auto;
    border: 1px solid white;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}