/** all of our textMessage styles go here **/

.TextMessage { /** the div */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36;

    padding: 4px;

    background: radial-gradient(42.15% 1950.58% at 50% 50%,
                              rgba(34, 34, 34, 0.4) 0%,
                              rgba(45, 45, 45, 0.16) 100%);
    color: var(--menu-font-color);

    backdrop-filter: blur(2px);
}

.TextMessage_container {
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin-top: 4px;
}

.TextMessage_name {
    margin: 0;
    font-size: 10px;
    text-align: center;
    padding: 2px;
}

.TextMessage_line {
    margin: auto;
    width: 50%;
    height: 0px;
    border-bottom:1px solid white;
    padding: 2px;
}

.TextMessage_p {
    margin: 0;
    font-size: 10px;
    text-align: center;
    padding: 2px;
}

.TextMessage span {
    opacity: 0;
}

.TextMessage span.revealed {
    opacity: 1;
}

.TextMessage_button {
    position: absolute;
    margin: auto;
    font-size: 8px;
    background: none;
    border: 1px solid white;
    border-radius: 22px;
    
    font-family: inherit;
    color: white;
    text-align: center;
    cursor: pointer;

    
    right: 10px;
    bottom: 5px;

    padding: 4px 10px 4px 10px;
}